.PhotoSliderH {
	max-width: 500px;
	margin: 0 auto;
}
.PhotoSliderH div {
	display: table-cell;
	vertical-align: middle;
}
.arrow {
	font-size: 20px;
	position: relative;
	color: grey;
	padding: 0.25em;
	border-style: hidden;
	border-width: 0;
	border-style: solid;
	border-color: grey;
}
.arrow:hover {
	color: white;
	background-color: grey;
	cursor: pointer;
}
.arrow-L {
  border-radius: 0.5em 0 0 0.5em;
	border-left-width: 2px;
}
.arrow-R {
  border-radius: 0 0.5em 0.5em 0;
	border-right-width: 2px;
}
.slider {
	overflow: hidden;
}
.slides {
	width: 100%;
	transition: all 0.6s;
}
.slides img {
	width: 100%;
	flex-shrink:0;
}