:root {
	--base-color: #de6e25;
}
.UnSelectble {
  ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body {
	margin: 0;
	min-width: 400px;
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, black 50%, #e6e6e6 1350px), linear-gradient(-90deg, rgba(0,0,0,0) 50%, black 50%, #e6e6e6 1350px);
}
header {
	color: white;
	background: linear-gradient(90deg, var(--base-color) 150px, black 50%, rgba(0,0,0,0) 50%), linear-gradient(-90deg, var(--base-color) 150px, black 50%, rgba(0,0,0,0) 50%);
}
header div.MainCenterBox {
	border: dotted 4px;
	border-bottom: none;
	background-color: var(--base-color);
}
main {
	background-color: white;
	min-height: 1100px;
	border: dotted 4px;
	border-top: none;
	border-bottom: none;
	border-color: var(--base-color);
}
footer {
	background: linear-gradient(90deg, var(--base-color) 150px, black 50%, rgba(0,0,0,0) 50%), linear-gradient(-90deg, var(--base-color) 150px, black 50%, rgba(0,0,0,0) 50%);
	color: white;
}
footer div {
	border: dotted 4px;
	border-top: none;
	background-color: var(--base-color);
}
br {
	border-style: none;
	height: 2em;
	margin: 0;
	
	ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
div {
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto";
	margin: 0;
}
p {
	text-align: left;
	font-family: sans-serif;
	margin: 0;
}
@font-face {
	font-family: "Roboto";
	src: url("/Fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto Italic";
	src: url("/Fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
	font-family: "Roboto Black";
	src: url("/Fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
	font-family: "Roboto Black Italic";
	src: url("/Fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
	font-family: "Roboto Light";
	src: url("/Fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto Light Italic";
	src: url("/Fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
	font-family: "Roboto Bold";
	src: url("/Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto Bold Italic";
	src: url("/Fonts/Roboto/Roboto-BoldItalic.ttf");
}
.Section {
	font-size: 18px;
	margin: 0 0 .5em;
	font-weight: bold;
	font-size: 18;
	color: var(--base-color);
	border-bottom: dotted 4px;
}
.LinkList {
	font-family: Arial;
	padding: 0 1.6em;
/*	list-style: circle;*/
}
.LinkList li:hover {
	text-decoration: underline;
	color: var(--base-color);
	font-weight: bold;
	cursor: pointer;
}
.MainCenterBox {
	max-width: 800px;
	margin:  auto;
	padding: 2em;
}
.PhotoSliderH {
	max-width: 500px;
	margin: 0 auto;
}
.PhotoSliderH div {
	display: table-cell;
	vertical-align: middle;
}
.arrow {
	font-size: 20px;
	position: relative;
	color: grey;
	padding: 0.25em;
	border-style: hidden;
	border-width: 0;
	border-style: solid;
	border-color: grey;
}
.arrow:hover {
	color: white;
	background-color: grey;
	cursor: pointer;
}
.arrow-L {
  border-radius: 0.5em 0 0 0.5em;
	border-left-width: 2px;
}
.arrow-R {
  border-radius: 0 0.5em 0.5em 0;
	border-right-width: 2px;
}
.slider-inner {
	overflow: hidden;
}
.slides {
	display: flex;
	width: 100%;
	transition: all 0.6s;
}
.slides img {
	width: 100%;
	flex-shrink:0;
}
