:root {
	--base-color: #de6e25;
}
.UnSelectble {
  ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body {
	margin: 0;
	min-width: 400px;
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(150,150,150,255) 50%, #e6e6e6 90%), linear-gradient(-90deg, rgba(0,0,0,0) 50%, rgba(150,150,150,255) 50%, #e6e6e6 90%);
}
header {
	color: white;
	background: linear-gradient(90deg, var(--base-color) 10%, rgba(0,0,0,150) 50%, rgba(0,0,0,0) 50%), linear-gradient(-90deg, var(--base-color) 10%, rgba(0,0,0,150) 50%, rgba(0,0,0,0) 50%);
}
header div.MainCenterBox {
	border: dotted 4px;
	border-bottom: none;
	background-color: var(--base-color);
}
main {
	background-color: white;
	min-height: 1100px;
	border: dotted 4px;
	border-top: none;
	border-bottom: none;
	border-color: var(--base-color);
}
footer {
	color: white;
	background: linear-gradient(90deg, var(--base-color) 10%, rgba(0,0,0,150) 50%, rgba(0,0,0,0) 50%), linear-gradient(-90deg, var(--base-color) 10%, rgba(0,0,0,150) 50%, rgba(0,0,0,0) 50%);
}
footer div {
	border: dotted 4px;
	border-top: none;
	background-color: var(--base-color);
}
br {
	border-style: none;
	height: 2em;
	margin: 0;
	
	ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
div {
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto";
	margin: 0;
}
p {
	text-align: left;
	font-family: sans-serif;
	margin: 0;
}
@font-face {
	font-family: "Roboto";
	src: url("/Fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto Italic";
	src: url("/Fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
	font-family: "Roboto Black";
	src: url("/Fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
	font-family: "Roboto Black Italic";
	src: url("/Fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
	font-family: "Roboto Light";
	src: url("/Fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto Light Italic";
	src: url("/Fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
	font-family: "Roboto Bold";
	src: url("/Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto Bold Italic";
	src: url("/Fonts/Roboto/Roboto-BoldItalic.ttf");
}
.Link {
	color: var(--base-color);
	text-decoration: none;
}
.Link:hover {
	text-decoration: underline;
}
.Section {
	font-size: 18px;
	margin: 0 0 .5em;
	font-weight: bold;
	font-size: 18;
	color: var(--base-color);
	border-bottom: dotted 4px;
}
.LinkList {
	color: var(--base-color);
	font-family: Arial;
	padding: 0 1.6em;
/*	list-style: circle;*/
}
.LinkList li:hover {
	text-decoration: underline;
/*	font-weight: bold;*/
	cursor: pointer;
	transform:  translateY(-0.05em)
}
.MainCenterBox {
	max-width: 800px;
	margin:  auto;
	padding: 2em;
}